@model Wedding
@{
    ViewData["Title"] = "One Wedding";
}

<div>
    <h1>@Model.WedderOne & @Model.WedderTwo's wedding</h1>
    <h3>Date: @Model.Date</h3>
    <h3>Guests:</h3>
    <div class="border">
        @{
            foreach (Association ass in Model.Attendees)
            {
                <p>@ass.User.FirstName @ass.User.LastName</p>
            }
        }
    </div>
</div>